img, video {
    border-radius: 10px; /* Adjust the value to increase or decrease the roundness */
}

/* Make the website less square */
body {
    color: #FFFFFF; /* Set text color to black for readability */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Use min-height to ensure content height */
    background-color: #f0f0f0; /* Fallback background color */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.background-image {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background-image: url('lereiacho_logo.png'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    filter: blur(7px) brightness(40%); /* Adjust blur and brightness levels */
    transform: translate(-50%, -50%);
    z-index: -1;
}

.navbar {
    background-color: #FFFFFF;
    overflow: hidden;
    position: fixed; /* Fix the navbar at the top */
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 60px; /* Add margin to avoid overlapping with the fixed navbar */
}

.video-gallery video {
    width: 300px;
    height: auto;
}

.about-us {
    padding: 20px;
    margin-top: 20px;
}
