/* Make images and videos rounded */
img, video {
  border-radius: 10px; /* Adjust the value to increase or decrease the roundness */
}

/* Make the website less square */
body {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 200vh; /* Adjust the height as needed */
    background-color: #f0f0f0; /* Fallback background color */
    overflow-x: hidden;
}

.background-image {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background-image: url('lereiacho_logo.png'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    filter: blur(7px) brightness(40%); /* Adjust blur and brightness levels */
    transform: translate(-50%, -50%);
    z-index: -1;
}
  .navbar {
            background-color: #FFFFFF;
            overflow: hidden;
}

  .navbar a {
      float: left;
      display: block;
      color: #333;
  .video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.video-gallery video {
    width: 300px;
    height: auto;
}
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
  }

    .navbar a:hover {
        background-color: #ddd;
    }
